@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  @page {
    size: A4;
    margin: 0;
    margin-bottom: 3cm;
    margin-top: 3cm;
  }
  body {
    font-size: 10pt;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
    /*margin-bottom: 3cm;
    margin-top: 3cm;*/

  }
  .post-content, .post-body-inner {
    column-count: 2;
  }
  a {
    page-break-inside: avoid
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid
  }
  h1 {
    font-size: 250% !important;
    line-height: 1;
  }
  h2 {
    font-size: 200% !important;
    border-top: 1px solid;
    margin-top: 1em;
  }
  h3 {
    font-size: 160% !important;
  }
  h4 {
    font-size: 130% !important;
  }
  h5 {
    font-size: 120% !important;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre,
  figure {
    page-break-inside: avoid
  }
  ul,
  ol,
  dl {
    page-break-before: avoid
  }
  /* Linkfarbe und Linkverhalten darstellen */
  a:link,
  a:visited,
  a {
    background: transparent;
    /*color: #520;*/
    /*font-weight: bold;*/
    text-decoration: underline;
    text-align: left;
  }
  a {
    page-break-inside: avoid
  }
  a[href^=http]:after {
    content: " <" attr(href) "> ";
    font-size: 75%;
    word-break: break-all;
  }
  $a:after > img {
    content: "";
  }
  article a[href^="#"]:after {
    content: "";
  }
  a:not(:local-link):after {
    content: " <" attr(href) "> ";
    font-size: 75%;
    word-break: break-all;
  }
  /**
 * Eingebundene Videos verschwinden lassen und den Whitespace der iframes auf null reduzieren.
 */
  .entry iframe,
  ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
  }
  figure {
    width:100% !important;
    border: 1pt solid hsla(0,0%,80%,1);
  }
  blockquote {width: 100% !important;}
  footer,
  .discovery-main, #footer, .reply, /*disqus stuff*/
  .reversefootnote, /*footnote markers*/
  [data-owner] /*breaks intruduces by balance text*/
  {
    display: none  !important;
  }
  /* Benutzerdefinierte Nachrichten vor und nach dem Inhalt einfügen */
  .entry:after {
    content: "\ Alle Rechte vorbehalten. (c) 2014 - 2016 TechBrain - techbrain.de";
    color: #999 !important;
    font-size: 1em;
    padding-top: 30px;
  }
  #header:before {
    content: "\ Vielen herzlichen Dank für das Ausdrucken unseres Artikels. Wir hoffen, dass auch andere Artikel von uns Ihr Interesse wecken können.";
    color: #777 !important;
    font-size: 1em;
    padding-top: 30px;
    text-align: center !important;
  }
  /* Wichtige Elemente definieren */
  p,
  address,
  li,
  dt,
  dd,
  blockquote {
    font-size: 100%;
    line-height: 1.6;
    widows: 3;
    orphans: 3;
  }
  /* Zeichensatz fuer Code Beispiele */
  code,
  pre {
    font-family: "Courier New", Courier, mono
  }
  ul,
  ol {
    margin-left: 18pt;
    margin-bottom: 20pt;
  }
}
